<a href="https://colab.research.google.com/github/Dinoop7072/USA_car_dataset_analysis/blob/main/Car_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

sample_data

In [ ]:
!pip install pandas

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("USA_cars_datasets.csv")

In [6]:
df

      Unnamed: 0  price      brand  ...       state  country      condition
0              0   6300     toyota  ...  new jersey      usa   10 days left
1              1   2899       ford  ...   tennessee      usa    6 days left
2              2   5350      dodge  ...     georgia      usa    2 days left
3              3  25000       ford  ...    virginia      usa  22 hours left
4              4  27700  chevrolet  ...     florida      usa  22 hours left
...          ...    ...        ...  ...         ...      ...            ...
2494        2494   7800     nissan  ...  california      usa    1 days left
2495        2495   9200     nissan  ...     florida      usa  21 hours left
2496        2496   9200     nissan  ...     florida      usa  21 hours left
2497        2497   9200     nissan  ...     florida      usa    2 days left
2498        2498   9200     nissan  ...     florida      usa  21 hours left

[2499 rows x 13 columns]

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.head()

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [9]:
df.head(2)

   Unnamed: 0  price   brand  ...       state  country     condition
0           0   6300  toyota  ...  new jersey      usa  10 days left
1           1   2899    ford  ...   tennessee      usa   6 days left

[2 rows x 13 columns]

In [10]:
df["price"]

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2499, dtype: int64

In [11]:
df.isnull()

      Unnamed: 0  price  brand  model  ...    lot  state  country  condition
0          False  False  False  False  ...  False  False    False      False
1          False  False  False  False  ...  False  False    False      False
2          False  False  False  False  ...  False  False    False      False
3          False  False  False  False  ...  False  False    False      False
4          False  False  False  False  ...  False  False    False      False
...          ...    ...    ...    ...  ...    ...    ...      ...        ...
2494       False  False  False  False  ...  False  False    False      False
2495       False  False  False  False  ...  False  False    False      False
2496       False  False  False  False  ...  False  False    False      False
2497       False  False  False  False  ...  False  False    False      False
2498       False  False  False  False  ...  False  False    False      False

[2499 rows x 13 columns]

In [12]:
df.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

In [ ]:
df["brand"]

In [14]:
df["brand"].unique()

array(['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac',
       'hyundai', 'mazda', 'honda', 'heartland', 'jaguar', 'acura',
       'harley-davidson', 'audi', 'lincoln', 'lexus', 'nissan', 'land',
       'maserati', 'peterbilt', 'ram'], dtype=object)

In [15]:
len(df["brand"].unique())

28

In [16]:
len(df["model"].unique())

127

In [17]:
df["year"].unique()

array([2008, 2011, 2018, 2014, 2010, 2017, 2009, 2013, 2015, 2020, 2016,
       1973, 2003, 2019, 2002, 2000, 2001, 2005, 2012, 2006, 2007, 1998,
       2004, 1994, 1997, 1996, 1999, 1984, 1995, 1993])

In [18]:
len(df["title_status"].unique())

2

In [19]:
df["color"].unique()

array(['black', 'silver', 'blue', 'red', 'white', 'gray', 'orange',
       'brown', 'no_color', 'gold', 'charcoal', 'turquoise', 'beige',
       'green', 'dark blue', 'maroon', 'phantom black', 'yellow',
       'color:', 'light blue', 'toreador red', 'bright white clearcoat',
       'billet silver metallic clearcoat', 'black clearcoat',
       'jazz blue pearlcoat', 'purple',
       'ruby red metallic tinted clearcoat', 'triple yellow tri-coat',
       'competition orange', 'off-white', 'shadow black',
       'magnetic metallic', 'ingot silver metallic', 'ruby red',
       'royal crimson metallic tinted clearcoat', 'kona blue metallic',
       'oxford white', 'lightning blue', 'ingot silver',
       'white platinum tri-coat metallic', 'guard',
       'tuxedo black metallic', 'tan', 'burgundy', 'super black',
       'cayenne red', 'morningsky blue', 'pearl white', 'glacier white'],
      dtype=object)

In [21]:
df["state"].unique()

array(['new jersey', 'tennessee', 'georgia', 'virginia', 'florida',
       'texas', 'california', 'north carolina', 'ohio', 'new york',
       'pennsylvania', 'south carolina', 'michigan', 'washington',
       'arizona', 'utah', 'kentucky', 'massachusetts', 'nebraska',
       'ontario', 'missouri', 'minnesota', 'oklahoma', 'connecticut',
       'indiana', 'arkansas', 'kansas', 'wyoming', 'colorado', 'illinois',
       'wisconsin', 'mississippi', 'maryland', 'oregon', 'west virginia',
       'nevada', 'rhode island', 'louisiana', 'alabama', 'new mexico',
       'idaho', 'new hampshire', 'montana', 'vermont'], dtype=object)

In [22]:
df["country"].unique()

array([' usa', ' canada'], dtype=object)

In [23]:
df["price"]

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2499, dtype: int64

In [27]:
df["price"].sum() / len(df["price"])

18767.671468587436

In [28]:
df["price"].sum() // len(df["price"])

18767

In [30]:
df["mileage"].sum() // len(df["mileage"])

52298.0

In [ ]:
del(df["vin"])

In [36]:
df.head()

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 11 columns]

In [39]:
del df["condition"]

KeyError: ignored

In [41]:
del df["Unnamed: 0"]

In [42]:
df.head()

   price      brand    model  year  ...   mileage   color       state country
0   6300     toyota  cruiser  2008  ...  274117.0   black  new jersey     usa
1   2899       ford       se  2011  ...  190552.0  silver   tennessee     usa
2   5350      dodge      mpv  2018  ...   39590.0  silver     georgia     usa
3  25000       ford     door  2014  ...   64146.0    blue    virginia     usa
4  27700  chevrolet     1500  2018  ...    6654.0     red     florida     usa

[5 rows x 9 columns]

In [43]:
df["price"].max()

84900

In [44]:
df["price"].min()

0

In [45]:
df["mileage"].max()

1017936.0

In [46]:
df["mileage"].min()

0.0

In [47]:
df["brand"] == 'toyota'

0        True
1       False
2       False
3       False
4       False
        ...
2494    False
2495    False
2496    False
2497    False
2498    False
Name: brand, Length: 2499, dtype: bool

In [48]:
len(df["brand"] == 'toyota')

2499

In [49]:
df[df["brand"] == 'toyota']

   price   brand    model  year  ...   mileage  color       state country
0   6300  toyota  cruiser  2008  ...  274117.0  black  new jersey     usa

[1 rows x 9 columns]

In [51]:
df[df["brand"] == 'ford']

      price brand   model  year  ...   mileage     color           state country
1      2899  ford      se  2011  ...  190552.0    silver       tennessee     usa
3     25000  ford    door  2014  ...   64146.0      blue        virginia     usa
9      5250  ford     mpv  2017  ...   63418.0     black           texas     usa
14    20700  ford    door  2013  ...  100757.0     black        virginia     usa
18     5210  ford     mpv  2017  ...   35714.0     white           texas     usa
...     ...   ...     ...   ...  ...       ...       ...             ...     ...
2199  13800  ford  fusion  2019  ...   29345.0     white  north carolina     usa
2200  56000  ford     srw  2018  ...   25371.0     black    pennsylvania     usa
2201  13800  ford  fusion  2019  ...   30054.0    silver  north carolina     usa
2202  45800  ford     srw  2018  ...   11173.0     white    pennsylvania     usa
2203  13800  ford  fusion  2019  ...   30902.0  no_color  north carolina     usa

[1235 rows x 9 columns]

In [52]:
for brand in df["brand"].unique():
  print(brand)

toyota
ford
dodge
chevrolet
gmc
chrysler
kia
buick
infiniti
mercedes-benz
jeep
bmw
cadillac
hyundai
mazda
honda
heartland
jaguar
acura
harley-davidson
audi
lincoln
lexus
nissan
land
maserati
peterbilt
ram

In [57]:
for brand in df["brand"].unique():
  print(brand," : ",len(df[df["brand"] == brand]))

toyota  :  1
ford  :  1235
dodge  :  432
chevrolet  :  297
gmc  :  42
chrysler  :  18
kia  :  13
buick  :  13
infiniti  :  12
mercedes-benz  :  10
jeep  :  30
bmw  :  17
cadillac  :  10
hyundai  :  15
mazda  :  2
honda  :  12
heartland  :  5
jaguar  :  1
acura  :  3
harley-davidson  :  1
audi  :  4
lincoln  :  2
lexus  :  2
nissan  :  312
land  :  4
maserati  :  1
peterbilt  :  4
ram  :  1

In [59]:
for model in df["model"].unique():
  print(model," : ",len(df[df["model"] == model]))

cruiser  :  1
se  :  1
mpv  :  87
door  :  651
1500  :  39
pk  :  5
malibu  :  12
coupe  :  6
wagon  :  30
forte  :  2
encore  :  3
sorento  :  5
doors  :  148
chassis  :  4
q70  :  1
camaro  :  6
convertible  :  1
vans  :  2
srw  :  38
compass  :  6
enclave  :  2
300  :  6
cherokee  :  3
pacifica  :  3
x3  :  2
equinox  :  18
challenger  :  44
m  :  1
colorado  :  12
focus  :  9
durango  :  64
escape  :  39
charger  :  42
explorer  :  39
f-150  :  219
3500  :  4
caravan  :  102
van  :  46
dart  :  1
2500  :  8
esv  :  1
cutaway  :  12
el  :  3
edge  :  34
series  :  8
flex  :  33
srx  :  1
cab  :  8
pickup  :  15
vehicl  :  1
trax  :  8
tahoe  :  9
suburban  :  16
cargo  :  2
drw  :  10
fiesta  :  14
impala  :  12
soul  :  1
elantra  :  1
pioneer  :  1
trail  :  1
traverse  :  6
country  :  2
sundance  :  1
road/street  :  1
nautilus  :  1
gx  :  1
q5  :  1
gle  :  2
sportage  :  1
5  :  1
sport  :  40
discovery  :  1
acadia  :  1
ghibli  :  1
glc  :  1
e-class  :  1
truck  :  4
utility  :  1
limited  :  1
sl-class  :  1
cx-3  :  1
2500hd  :  1
sonic  :  2
corvette  :  4
mdx  :  1
xt5  :  1
fusion  :  65
mustang  :  29
passenger  :  3
volt  :  2
spark  :  1
cruze  :  2
ld  :  3
journey  :  61
transit  :  41
ranger  :  6
taurus  :  10
max  :  41
energi  :  1
expedition  :  28
bus  :  2
ecosport  :  7
f-750  :  1
d  :  2
dr  :  1
hybrid  :  5
suv  :  1
connect  :  1
f-650  :  3
sentra  :  28
altima  :  21
frontier  :  14
rogue  :  54
maxima  :  3
versa  :  34
note  :  2
armada  :  4
pathfinder  :  22
titan  :  5
sedan  :  4
juke  :  1
murano  :  5
xterra  :  1
kicks  :  1
xd  :  1
nvp  :  1

In [62]:
for color in df["color"].unique():
  print(color," : ",len(df[df["color"] == color]))

black  :  516
silver  :  300
blue  :  151
red  :  192
white  :  707
gray  :  395
orange  :  20
brown  :  15
no_color  :  61
gold  :  19
charcoal  :  18
turquoise  :  1
beige  :  5
green  :  24
dark blue  :  1
maroon  :  1
phantom black  :  1
yellow  :  9
color:  :  5
light blue  :  1
toreador red  :  1
bright white clearcoat  :  2
billet silver metallic clearcoat  :  3
black clearcoat  :  2
jazz blue pearlcoat  :  1
purple  :  1
ruby red metallic tinted clearcoat  :  2
triple yellow tri-coat  :  3
competition orange  :  1
off-white  :  2
shadow black  :  5
magnetic metallic  :  6
ingot silver metallic  :  4
ruby red  :  1
royal crimson metallic tinted clearcoat  :  1
kona blue metallic  :  1
oxford white  :  4
lightning blue  :  1
ingot silver  :  1
white platinum tri-coat metallic  :  2
guard  :  1
tuxedo black metallic  :  2
tan  :  1
burgundy  :  1
super black  :  3
cayenne red  :  2
morningsky blue  :  1
pearl white  :  1
glacier white  :  1

In [63]:
for state in df["state"].unique():
  print(state," : ",len(df[df["state"] == state]))

new jersey  :  87
tennessee  :  26
georgia  :  51
virginia  :  90
florida  :  246
texas  :  214
california  :  190
north carolina  :  146
ohio  :  31
new york  :  58
pennsylvania  :  299
south carolina  :  64
michigan  :  169
washington  :  14
arizona  :  33
utah  :  10
kentucky  :  9
massachusetts  :  27
nebraska  :  4
ontario  :  7
missouri  :  46
minnesota  :  119
oklahoma  :  71
connecticut  :  25
indiana  :  14
arkansas  :  12
kansas  :  4
wyoming  :  1
colorado  :  21
illinois  :  113
wisconsin  :  94
mississippi  :  24
maryland  :  4
oregon  :  27
west virginia  :  21
nevada  :  85
rhode island  :  2
louisiana  :  11
alabama  :  17
new mexico  :  4
idaho  :  2
new hampshire  :  4
montana  :  1
vermont  :  2

In [64]:
for country in df["country"].unique():
  print(country," : ",len(df[df["country"] == country]))

 usa  :  2492
 canada  :  7

In [65]:
for year in df["year"].unique():
  print(year," : ",len(df[df["year"] == year]))

2008  :  18
2011  :  23
2018  :  395
2014  :  104
2010  :  13
2017  :  377
2009  :  11
2013  :  86
2015  :  196
2020  :  48
2016  :  203
1973  :  1
2003  :  9
2019  :  892
2002  :  2
2000  :  4
2001  :  5
2005  :  6
2012  :  72
2006  :  8
2007  :  6
1998  :  4
2004  :  6
1994  :  2
1997  :  2
1996  :  2
1999  :  1
1984  :  1
1995  :  1
1993  :  1